<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXS_cocopod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65CCCAD11F42DDCA004D1B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65CCCAEA1F42DDCA004D1B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65CCCAF51F42DDCA004D1B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
